<% provide(:title, 'about') %>
<div id="content">

		<div class="two-third">
			<h1> <a href="">tadamobile</a>.</h1>
			<br/>
			<h5>&nbsp;&nbsp;&nbsp;&nbsp;During the Golden Age of app development, the standards were low and a 'fart' app could make you a millionaire. Now the game has changed and the real winners in the app market are the ones that have a legitimate product and enterprise scalability. These are the clients that tadamobile loves to work with. Entrepreneurs that have the vision to see a need and meet it head on through innovation and willpower.
<br/><br/>			
&nbsp;&nbsp;&nbsp;&nbsp;In order to satisfy the high demands placed on apps today, tadamobile has embraced the agile development process and tries to stay in the healthy part of the technology curve. We believe that we have found a winning formula of convention and innovation that will serve us and our clients for years to come.
			</h4>	
			
		</div><!--END two-odd-->
				
		<div class="one-third last">
			<h2>Methodology</h2>
			
			<ul class="details">
				<li>Source-Control</li>
				<li>Bug/Enhancement Tracking</li>
				<li>Continuous Integration</li>
				<li>Test-Driven Development</li>		
				<li>Analytics</li>
				<li>Conventions</li>
				<li>Design Patterns</li>
			</ul>	
	
		</div><!--END three-even last-->
		
		<div class="divider"></div>	
	
</div><!--END content-->
