<% provide(:title, 'contact') %>
<div id="content">

	<div id="sidebar">
	
		<div class="block contact-information">

		<div class="overline"><h2>Visit us</h2></div>		

			<p>2150 Park Drive Suite 209<br/>
			   Charlotte, North Carolina<br/>
			   28203</p>

		</div><!--END block-->
	
	
		<div class="block contact-information">
		<div class="overline"><h2>Call us</h2></div>
		
				<ul>
					<li><strong>Telephone:</strong> 704.609.5908</li>
					<li><strong>Office:</strong> 704.350.5274</li>
				</ul>
			
		</div><!--END block-->
		
		<div class="block contact-information">

		
				<ul>
					<li><strong>General:</strong><a href="#"> info@tadamobile.com</a></li>
					<li><strong>Support:</strong><a href="#"> support@tadamobile.com</a></li>
					<li><strong>Join our team:</strong><a href="#"> careers@tadamobile.com</a></li>
				</ul>
			
		</div><!--END block-->		
		
	</div><!--END sidebar-->

	<div id="inner-content" class="contact-information">	
		
		<div class="overline"><h2>Send us a message</h2></div>			
		<p>We would love to hear from you! Please feel free to email us, call us, or snail mail us. IT may be a good idea to call AND email. Bothering us continually will probably get you the best results...</p>

	
		<form action="send.php" id="contact-form" method="post">
		
			<div>
				<input name="name" type="text" class="requiredField" />
				<label>Name<em>*</em></label>
			</div>
								
			<div>	
				<input name="email" type="text" class="requiredField email" />
				<label>Email<em>*</em></label>		
			</div>
								
			<div>
				<input name="url" type="text" class="last" />
				<label>Url</label>	
			</div>
			
			<div>
				<textarea name="comment" rows="50" cols="5"></textarea>		
			</div>
								
			<div>
				<input value="Post Message  &raquo;" type="submit" class="button submit grey" />
			</div>
		</form><!--END form ID contact-form-->	
	
	</div><!--END inner-content-->
	
</div><!--END content-->

</div><!--END wrapper--> 
