<% provide(:title, 'home') %>
<div class="slideshow">

	<div class="slide-text">	
		<h1 class="divider">Hello. We are <a href="">skookum</a>, a development company.</h1><br /><br />
	</div><!--END of slide-text-->
	
	<div class="nivoSlider style1" id="slidernivo">				
		<%= image_tag "nivoslide2.2.jpg" , :size => "640x350" , :alt => ""%>
		<%= image_tag "nivoslide1.2.jpg" , :size => "640x350", :alt => ""%>
		<%= image_tag "nivoslide3.2.jpg" , :size => "640x350", :alt => ""%>			
	
	</div><!--END slidernivo-->
	
</div><!--END slideshow-->	