<% provide(:title, @project.title) %>
	
<!-- Portfolio slides JavaScript Files -->
<script type="text/javascript">
	$(function(){
		$('#slides').slides({
			preload: true,
			preloadImage: 'images/loading.gif',			
			play: 4000,
			hoverPause: true
		});	
	});
</script>

	<div id="inner-content">
	
	<div class="overline"><h2><%= @project.title %></h2></div>
	

	<div>				
		
		<% @project.pictures.each do |picture| %>

							<%= link_to image_tag(picture.image.url(:thumb), :alt => picture.title ,:class => "img-polaroid", :height => "120"), picture.image.url, :rel => "prettyPhoto[pp_gal]" %>

						<% end %>	
	
	</div>

		
		<div class="two-third">
			<h2>About the project</h2>
			<p><%= @project.description %></p>	

			<p><a href="#" class="read-more">Launch project &raquo;</a></p>				
		</div><!--END two-odd-->
				
		<div class="one-third last">
			<h3>Services used</h3>
			
			<ul class="details">
				<li>Web design</li>
				<li>Logo design</li>		
				<li>CMS solution</li>
				<li>SEO</li>
			</ul>	
	
		</div><!--END three-even last-->
		
		<div class="divider"></div>	
		
        <div class="wp-pagenavi">
			<a href="#" class="older read-more">&laquo; Previous project</a>
			<a href="#" class="newer read-more">Next project &raquo;</a>				
		</div><!--END wp-pagenavi-->					
							
	</div><!--END inner-content-->