<% provide(:title, @picture.title) %>

<div class = "span6 offset3">
<h1><%= @picture.title%></h1>


<%= image_tag @picture.image.url%>

<h2>Title</h2>
			<p><%= @picture.title %></p>	
	<% if user_signed_in? %>
		<%= link_to "Edit", edit_picture_path(@picture, project_id: @picture.project_id)  %>
	<% end %>

</div>