<div id="footer-wrapper">
	
	<div id="footer">
	
		<div class="one-fourth">
			<h3>About us</h3>
			<p>Skookum is an awesome place to do work. </p>	
		</div><!--END ul one-fourth-->

		
		<div class="one-fourth">
		<h3>Latest posts</h3>
			<ul>
				<li><a href="#">Integrating RestKit into your project</a></li>
			</ul>
		</div>
		
		<div class="one-fourth">
			<h3>Contact</h3>
			<p>info@skookum.com</p>	
		</div><!--END ul one-fourth-->

		<div class="one-fourth last">
		<h3>Socialize with us</h3>
			<ul class="socialize">
			
				<li>
				<%= link_to image_tag("socialize_twitter.png", title: "Follow us on twitter"), "http://www.twitter.com/tadamobile" %>
				<a href="http://www.twitter.com/skookum">Follow us on Twitter</a>
				</li>

				<li>
				<%= link_to image_tag("socialize_facebook.png", title: "Become our friend"), "#" %>
				<a href="#">Become our friend</a>
				</li>

			</ul><!--END ul socialize-->
		</div><!--END ul one-fourth-->
	
		<div id="copyright"><p>Copyright &copy; 2014 SDW. All rights reserved.</p>
		</div><!--END copyright-->
		
	</div><!--END footer-->
	
</div><!--END footer-wrapper-->